.swal2-popup{
    border-radius: 0;
    width: 28em;
}
.swal2-title{
    background: #000;
    color:#fff;
    font-size: 1em;
    padding: 0.8em 1em;
}
.swal2-popup h2{
    text-decoration: none;
}
.swal2-actions button{
    padding:.7rem 2rem;
}

.swal2-actions .swal2-confirm{
    background: #2c2c2c;
    border-radius: 0;
}
.swal2-actions .swal2-confirm:hover{
    background: #000;
}

.swal2-actions .swal2-deny{
    background: #999;
    border-radius: 0;
}

.swal2-actions:focus {
    background-image: none;
    border:none;
}